<div class="intrude-less">
  <header id="header" class="inner">
    <a class="profilepic">
      <img src="<%=theme.avatar%>" class="js-avatar">
    </a>
    <hgroup>
      <h1 class="header-author"><a href="<%=theme.root%>"><%=theme.author%></a></h1>
    </hgroup>
    <% if (theme.subtitle){ %>
    <p class="header-subtitle"><%=theme.subtitle%></p>
    <%}%>

    <%if(theme.tagcloud){%>
    <div class="switch-btn">
      <div class="home">
        <div class="homeIcon" id="home-icon"></div>
      </div>
      <div class="tips-box">
        <% for (var i in theme.smart_menu){ %>
        <% if(theme.smart_menu[i]){ %>
        <div class="tips-text">
          <a class="tips-a" q-on="click: openSlider(e, '<%-i%>')"
            href="javascript:void(0)"><%= theme.smart_menu[i] %></a>
        </div>
        <% } %>
        <%}%>
      </div>
    <%}%>

        <ul class="header-menu">
          <% for (var i in theme.menu){ %>
          <li class="menu-text">
            <a href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
          </li>
          <%}%>
        </ul>
		<nav class="header-nav">
			<div class="social">
				<% for (var i in theme.subnav){ %>
          <div class="icon-wrap">
            <a class="<%= i %>" target="_blank" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>"></a>
          </div>
          <%}%>
			</div>
    </nav>
    <div class="toggleLight">
        <span class="dark">白天</span>
        <span class="toggleMusic">音乐</span>
    </div>
    <div class="motto">
      <div><span class="motto-text xin">行</span> <span class="motto-text dao">到</span> <span class="motto-text shui">水</span> <span class="motto-text qiong">穷</span> <span class="motto-text chu">处</span></div>
      <div><span class="motto-text zuo">坐</span> <span class="motto-text kan">看</span> <span class="motto-text yun">云</span> <span class="motto-text qi">起</span> <span class="motto-text shi">时</span></div>
      <div class="changeInfo">点击文字切换主题</div>
      <div class="lightChangeInfo">请在炫酷模式下切换主题</div>
    </div>
    <div class="music">
      <!-- 《左侧边栏添加--APlayer音乐播放器 -->
      <% if(theme.aplayer.enable) { %>
          <link rel="stylesheet" href="/dist/APlayer.min.css">
          <div id="aplayer"></div>
          <script defer type="text/javascript" src="/dist/APlayer.min.js"></script>
          <script defer type="text/javascript" src="/dist/music.js"></script>
          <% } %>
      </div>
  </header>
</div>
<div class="topControl"></div>
