<%- partial('_partial/head') %>

<body class="bodyCover">
  <% if(theme.cover){%>
  <%- partial('_partial/cover') %>
  <% } %>
  <div id="container" q-class="show:isCtnShow" style="<%=theme.style && theme.style.slider%>">
    <% if(theme.scrollBar){%>
    <%- partial('_partial/scrollBar') %>
    <% } %>
    <canvas id="anm-canvas" class="anm-canvas"></canvas>
    <div class="left-col" q-class="show:isShow">
      <%- partial('_partial/left-col', null, {cache: !config.relative_link}) %>
    </div>
    <div class="mid-col" q-class="show:isShow,hide:isShow|isFalse">
      <div class="main">
        <div class="main-loading">loading... </div>
        <div class="changeSize"><span class="change-info">点击该 “模式” 按钮可切换文章阅读模式</span>模式</div>
      </div>
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div id="wrapper" class="body-wrap">
        <div class="artWrap">
          <div class="menu-l">
            <div class="canvas-wrap">
              <canvas data-colors="#eaeaea" data-sectionHeight="100" data-contentId="js-content" id="myCanvas1"
                class="anm-canvas"></canvas>
            </div>
            <div id="js-content" class="content-ll">
              <%- body %>
            </div>
          </div>
        </div>
      </div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after-footer') %>
    <%- partial('_partial/tools') %>
  </div>
</body>

</html>
